 body {
    background: #f8e8a6;
    display: block;
    margin: 8px;
 }
 
 h1 {
     text-align: center;
     display: block;
     font-size: 2em;
     margin-block-start: 0.67em;
     margin-block-end: 0.67em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
 }


p {
    text-align: center;
}

a {
   
    cursor: pointer;
    text-decoration: underline;
    display: block;
   
}
.croissant-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
   
}
footer a {
    margin: 0 10px;
    color: rgb(14, 151, 14);
}
